* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

/* TOPO */
.topo {
  background: #7b1194;
  color: white;
  text-align: center;
  padding: 15px;
}

.logo {
  max-width: 120px;
  margin-bottom: 10px;
}

.info-loja a {
  color: #fff;
  text-decoration: none;
}

/* CATEGORIAS */
.categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 25px;
}

.categorias button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #7b1194;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* PRODUTOS */
.produtos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.produto {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

.produto img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.produto button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #7b1194;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #7b1194;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

/* CELULAR */
@media (max-width: 768px) {

  .categorias {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  .produtos {
    grid-template-columns: repeat(2, 1fr);
  }

  .produto img {
    max-height: 140px;
  }
}
